.appContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px var(--padding-containers);

  @media (width >= 768px) {
    padding-left: var(--padding-containers);
    padding-right: var(--padding-containers);
  }
}

.appTitle {
  font-size: var(--heading-1-font-size);
  font-weight: 600;
}
