.documentsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.documentsList__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.documentsList__buttonContainer--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 16px;
}
