*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--color-text-primary);
  background-color: var(--color-background-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
