.appContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;

  @media (width >= 768px) {
    padding: 0 32px;
  }
}

.appTitle {
  font-size: var(--heading-1-font-size);
  font-weight: 600;
}
