.document {
  text-align: center;
  height: 100%;
  background-color: var(--color-background-secondary);
  border-radius: 12px;
  border: 1px solid var(--color-border);
  padding: 24px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.document__header {
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-border-light);
}

.document__subheading {
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-text-secondary);
}
