.document {
  border-bottom: 1px solid var(--color-border);
  transition: background-color 0.15s ease-in-out;

  &:hover {
    background-color: var(--color-background-hover);
  }
}

.document__cell {
  padding: 24px;
  vertical-align: top;
}
