.form {
  display: flex;
}

.form--vertical {
  flex-direction: column;
  align-items: stretch;
  gap: 10px;

  @media (width >= 590px) {
    align-items: flex-start;
  }
}

.form__group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.form__group--vertical {
  flex-direction: column;
  align-items: stretch;
  gap: 2px;

  @media (width >= 590px) {
    align-items: flex-start;
  }

  .form__label {
    margin-bottom: 4px;
  }
}

.form__control {
  width: 100%;
}

.form__error {
  color: var(--color-error);
  font-size: 0.9rem;
  min-height: 1.25rem;
}

.invalid {
  border-color: var(--color-error);
}
