.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #333;
  color: #fff;
  padding: 16px 60px 16px 16px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transform: translateX(0);
  transition: all 0.3s ease;

  @starting-style {
    transform: translateX(100%);
    opacity: 0.2;

    @media (prefers-reduced-motion: reduce) {
      transform: translateX(10%);
      opacity: 0.8;
    }
  }
}

.toast--hiding {
  transform: translateX(100%);
  opacity: 0.2;

  @media (prefers-reduced-motion: reduce) {
    transform: translateX(10%);
    opacity: 0.8;
  }
}

.toast--success {
  background-color: #39813b;
}

.toast--error {
  background-color: #f44336;
}

.toast__closeButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  color: #fff;
}
